.maintextstyling{
    -webkit-text-stroke: 2px white;
}
.mukta{
    font-family: "Mukta", sans-serif;
}
.nerko{
    font-family: "Nerko One", cursive;
}
.jersey{
    font-family: "Jersey 10", sans-serif;
}